@model BTLWebASP.Models.SanPham

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">

            <!--Loại sản phẩm-->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-pagelines"></span> Sản phẩm</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active"><span></span><a href="product-vegetables.html">Rau</a></li>
                                    <li><span></span><a href="product-fruits.html">Trái cây</a></li>
                                    <li><span></span><a href="product-cereals.html">Ngũ cốc</a></li>
                                    <li><span></span><a href="product-beans.html">Đậu</a></li>
                                    <li><span></span><a href="product-nuts-seeds.html">Các loại hạt & Giống</a></li>
                                    <li><span></span><a href="product-spices.html">Gia vị</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title">Beans</span>
                </h2>
                <!-- ../page heading-->
                <!-- Product -->
                <div id="product">
                    <!-- box product -->
                    <div class="category-featured Vegetables">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-right">
                                        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                        <ul class="product-list">
                                            <li class="col-sm-4 product-item" style="width: 280px;">

                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/blackbeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/blackbeans_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Beans - 1kg"
                                                           data-price="31500" data-image="beans/blackbeans_300x300" data-product-code="BB0927">Add to Cart</a>
                                                    </div>
                                                    <div class="price-percent-reduction2">
                                                        -30% OFF
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Black Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span style="color: orangered">Best Price:</span> 31,500đ
                                                        </span>
                                                        <!--<br><span style="color: black">Price:</span>-->
                                                        <!--<span class="price old-price">45,000đ</span>-->
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/soybeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/soybeans_300x300.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Soy Beans - 1kg"
                                                           data-price="60000" data-image="beans/soybeans_300x300.jpg" data-product-code="SBD042">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Soy Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 60,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/redbeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/redbeans_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Red Beans - 1kg"
                                                           data-price="45000" data-image="beans/redbeans_300x300.jpg" data-product-code="SHT045">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Red Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 45,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/lentils_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/lentils_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Lentils - 1kg"
                                                           data-price="60000" data-image="beans/lentils_300x300.jpg" data-product-code="LTD042">Add to Cart</a>
                                                    </div>
                                                    <div class="comingsoon"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Lentils - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 60,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/chickpeas_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/chickpeas_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Chick Peas - 1kg"
                                                           data-price="75000" data-image="beans/chickpeas_300x300.jpg" data-product-code="CPT045">Add to Cart</a>
                                                    </div>
                                                    <div class="comingsoon"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Chick Peas - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 75,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/blackeyepeas_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/blackeyepeas_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Eye Peas - 1kg"
                                                           data-price="48000" data-image="beans/blackeyepeas_300x300.jpg" data-product-code="BEB109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Black Eye Peas - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 48,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/mungbeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/mungbeans_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Mung Beans - 1kg"
                                                           data-price="40000" data-image="beans/mungbeans_300x300.jpg" data-product-code="MB109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Mung Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 40,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/pintobeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/pintobeans_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Pinto Beans - 1kg"
                                                           data-price="45000" data-image="beans/pintobeans_300x300.jpg" data-product-code="PBL109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Pinto Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 45,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a>
                                                        <img class="img-responsive" alt="product"
                                                             src="images/product-detail/beans/whitebeans_300x300.jpg" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/beans/whitebeans_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="White Beans - 1kg"
                                                           data-price="45000" data-image="beans/whitebeans_300x300.jpg" data-product-code="WB109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#"> White Beans - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 45,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">Show 9</option>
                            <option value="">Show 18</option>
                            <option value="">Show 27</option>
                            <option value="">Show 36</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select>
                            <option value="">Product Name</option>
                            <option value="">Price</option>
                        </select>

                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./row-->
    </div>
</div>
